@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @RenderSection("scripts", required: false)
}

<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">Matterspace</a>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
        </li>
    </ul>
    @Html.Partial("_LoginPartial")
</nav>

@RenderBody()


