@using Matterspace.Lib.Extensions
@model Matterspace.Models.ThreadViewModel

@{
    Layout = "Thread/_LayoutThreadProduct.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="thread-entry">
            <div class="user-wrapper">
                <img src="http://lh3.googleusercontent.com/-H2ScI8V-1xg/AAAAAAAAAAI/AAAAAAAAAAA/AKTaeK8czqkxYdwopYXdhpuVeaF4UeJ28w/s32-c-mo/photo.jpg"/>
            </div>
            <div class="editor-wrapper">
                @using (Html.BeginForm("Edit", Model.Type.GetThreadPage(), FormMethod.Post, new {id = "thread-form"}))
                {
                    @Html.HiddenFor(x => x.Product.Id)
                    @Html.HiddenFor(x => x.Product.Name)
                    @Html.HiddenFor(x => x.Product.DisplayName)
                    @Html.HiddenFor(x => x.Product.WebsiteUrl)
                    @Html.Partial("Thread/EditThreadForm", Model)
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var disableSubmit = () => {
            if (isValid($('#thread-form'))) {
                $('#submit').attr('disabled', false);
            } else {
                $('#submit').attr('disabled', true);
            }
        }

        var isValid = (formElement) => {
            return formElement.find('#Title').val() && formElement.find('#Content').val();
        }

        disableSubmit();

        $('#thread-form').on('input', () => {
            disableSubmit();
        });
    </script>
}