@using Matterspace.Lib.Extensions
@model Matterspace.Models.ThreadViewModel

@{
    var categorySelectList = Model.Product.Categories.Select(x =>
    new SelectListItem
    {
        Text = x.Name,
        Value = x.Id.ToString()
    });
}

<div class="form-group">
    <div class="form-group">
        @Html.HiddenFor(x => x.Type)
        <div class="input-group">
            @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
        </div>
    </div>

    @if (Model.Product.Categories.Any())
    {
        <div class="form-group row col-xs-12 col-md-4">
            @Html.LabelFor(x => x.Category)
            <div class="input-group">
                @Html.DropDownListFor(x => x.CategoryId, categorySelectList, new { @class = "form-control" })
            </div>
        </div>
    }

    <div class="form-group">
        <div class="input-group">
            @Html.ReactMdeFor(x => x.Content)
        </div>
    </div>

    <div class="form-actions">
        <div class="pull-right">
            <button id="submit" type="submit" class="btn btn-success" disabled="true">Submit new @Model.Type.ToString()</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>