@model Matterspace.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register · Matterspace";
    Layout = "../Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="signin-signup-card-wrapper">
        <div class="card">
            <div class="card-header">
                <span class="header-logo">
                    <img src="/Content/Images/MSLogo-xs.png" />
                </span>
                <span>Matterspace</span>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-info">
                            You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                            Please enter a user name below and click the Finish button to sign in.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User name" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "E-mail", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-block btn-success" type="submit" value="Register">
                            Finish
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}