@using Matterspace.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Sign up to Matterspace · Matterspace";
    Layout = "../Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="signin-signup-card-wrapper">
        <div class="card">
            <div class="card-header">
                <span class="header-logo">
                    <img src="/Content/Images/MSLogo-xs.png" />
                </span>
                <span>Matterspace</span>

            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <p class="sign-in-via">
                            Create a new account
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "E-mail"})
                            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-block btn-success" type="submit" value="Register">
                            Sign up
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Already have an account? @Html.ActionLink("Sign in", "Login")!
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}