@using Matterspace.Models
@model ProductViewModel

@{
    // function that returns "active" if the given tab is actually the active tab. Otherwise it returns an empty string
    var getActiveClass = new Func<ProductActiveTab, string>((tab) => this.Model.ActiveTab == tab ? "active" : "");
}

<div class="product-home-wrapper">
    <div class="product-header">
        <div class="header-side">
            <div class="header-side">
                <div class="header-avatar">
                </div>
            </div>
        </div>
        <div class="header-main">
            <h3 class="header-title">
                @this.Model.DisplayName
            </h3>
            <p class="header-subtitle">
                @this.Model.ShortDescription
            </p>
            <div class="header-actions">
                <!-- Do not add a SPACE between "</a><a " Browsers will add additional space otherwise -->
                <a href="#" class="btn btn-danger">Get it</a><a href="#" class="btn btn-secondary watch-button">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Watching</span>
                </a>
                <div class="pull-right">
                    @if (Model.TwitterUrl != null)
                    {
                        <a href="@Model.TwitterUrl" class="btn twitter-button">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    }

                    @if (Model.FacebookUrl != null)
                    {
                        <a href="@Model.FacebookUrl" class="btn facebook-button">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="product-body">
        <nav class="navbar-product">
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.Home)" href="@Url.Action("Index", "Products")">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Home</span>
            </a>
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.Ideas)" href="@Url.Action("Index", "Ideas")">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Ideas</span>
                <span class="tag tag-default">@Model.Threads.Where(x => x.Type == Matterspace.Model.Enums.ThreadType.Idea && x.Status == Matterspace.Model.Enums.ThreadStatus.Pending).Count()</span>
            </a>
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.Issues)" href="@Url.Action("Index", "Issues")">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Issues</span>
                <span class="tag tag-default">@Model.Threads.Where(x => x.Type == Matterspace.Model.Enums.ThreadType.Issue && x.Status == Matterspace.Model.Enums.ThreadStatus.Pending).Count()</span>
            </a>
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.Backlog)" href="@Url.Action("Index", "Backlog")">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Backlog</span>
            </a>
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.QA)" href="@Url.Action("Index", "QA")">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Q&A</span>
            </a>
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.Docs)" href="@Url.Action("Index", "Docs")">
                <i class="fa fa-book" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Docs</span>
            </a>
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.Releases)" href="@Url.Action("Index", "Releases")">
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Releases</span>
            </a>
        </nav>
    </div>
</div>
