@using Matterspace.Models
@model ProductViewModel

<div class="product-home-wrapper">
    <div class="product-header">
        <div class="header-side">
            <div class="header-side">
                <div class="header-avatar">
                </div>
            </div>
        </div>
        <div class="header-main">
            <h3 class="header-title">
                @this.Model.DisplayName
            </h3>
            <p class="header-subtitle">
                @this.Model.ShortDescription
            </p>
            <div class="header-actions">
                <!-- Do not add a SPACE between "</a><a " Browsers will add additional space otherwise -->
                @if (Model.WebsiteUrl != null)
                {
                    <a href="@Model.WebsiteUrl" class="btn btn-danger">Get it</a>
                }<a href="#" class="btn btn-secondary watch-button">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Watching</span>
                </a>
                <div class="pull-right">
                    @if (Model.TwitterUrl != null)
                    {
                        <a href="@Model.TwitterUrl" class="btn twitter-button">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    }

                    @if (Model.FacebookUrl != null)
                    {
                        <a href="@Model.FacebookUrl" class="btn facebook-button">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/Product/_ProductNavbarPartial.cshtml", Model)
</div>
