@using Matterspace.Models
@model Matterspace.Models.ProductViewModel

@{
    Layout = "~/Views/Shared/_LayoutContainer.cshtml";

    // function that returns "active" if the given tab is actually the active tab. Otherwise it returns an empty string
    var getActiveClass = new Func<ProductActiveTab, string>((tab) => this.Model.ActiveTab == tab ? "active" : "");
}

<div class="product-home-wrapper">
    <div class="product-header">
        <div class="header-side">
            <div class="header-side">
                <div class="header-avatar">
                </div>
            </div>
        </div>
        <div class="header-main">
            <h3 class="header-title">
                @this.Model.DisplayName
            </h3>
            <p class="header-subtitle">
                @this.Model.ShortDescription
            </p>
            <div class="header-actions">
                <a href="#" class="btn btn-danger">Get it</a>
                <a href="#" class="btn btn-secondary like-button">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <span>293</span>
                </a>
                <a href="#" class="btn btn-secondary watch-button">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>Watching</span>
                </a>
                <div class="pull-right">
                    <a href="#" class="btn twitter-button">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn facebook-button">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-body">
        <nav class="navbar-product">
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.Home)" href="#">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Home</span>
            </a>
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.Ideas)" href="#">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Ideas</span>
                <span class="tag tag-default">28</span>
            </a>
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.Issues)" href="#">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Issues</span>
                <span class="tag tag-default">6</span>
            </a>
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.Backlog)" href="#">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Backlog</span>
            </a>
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.QA)" href="#">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Q&A</span>
            </a>
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.Docs)" href="#">
                <i class="fa fa-book" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Docs</span>
            </a>
            <a class="navbar-product-item @getActiveClass(ProductActiveTab.Releases)" href="#">
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <span class="navbar-product-item-text">Releases</span>
            </a>
        </nav>
        @RenderBody()
    </div>
</div>
