@model Matterspace.Models.CreateProductViewModel

@{
    ViewBag.Title = "Create new product · Matterspace";
    Layout = "../Shared/_LayoutContainer.cshtml";
}

<div class="new-product-wrapper">
    <div class="new-product-header-wrapper">
        <h3 class="new-product-header">Create new product</h3>
        <p class="new-product-subheader">This will create a full-featured community for your product. Features can be disabled later in the settings page.</p>
    </div>
    <div class="new-product-form">
        @using (Html.BeginForm("Create", "Products"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                <div class="input-group">
                    <div class="input-group-addon">http://matterspace.io/</div>
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "your-product-name", @class = "form-control" })
                    <div class="input-group-addon">
                        <i class="fa fa-question-circle"
                           aria-hidden="true"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           title="This should be a URL friendly name. Only lower case characters, numbers and hyphens are allowed."
                           data-offset="-10 0"></i>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DisplayName)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.DisplayName, new { placeholder = "Your product name", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ShortDescription)
                <div class="input-group">
                    @Html.TextAreaFor(m => m.ShortDescription, new { placeholder = "A short description of your product, no more than 120 characters", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.WebsiteUrl)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.WebsiteUrl, new { placeholder = "http://www.yourproduct.com", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FacebookUrl)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.FacebookUrl, new { placeholder = "http://www.facebook.com/yourpage", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TwitterUrl)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.TwitterUrl, new { placeholder = "http://www.twitter.com/yourusername", @class = "form-control" })
                </div>
            </div>
            <div class="validation-wrapper">
                @Html.ValidationSummary(false)
            </div>
            <div class="submit-button-wrapper">
                <button class="btn btn-success" type="submit">
                    Create product
                </button>
            </div>
        }
    </div>
</div>
